body {
  margin: 0;
  font-family: Roboto;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0fr;
  grid-template-columns: 1.5fr 1fr;
  place-items: center;
}

.header {
  grid-column: 1 / 3;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.cell {
  border: 4px solid black;
}

.player-1,
.player-2 {
  display: grid;
  justify-items: center;
}

.name {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 36px;
  gap: 10px;
}

.name[data-current="true"] {
  border: 4px blue dashed;
  border-radius: 10px;
}

.name[data-current="winner"] {
  border: 4px green solid;
  border-radius: 10px;
}

.name h2 {
  font-size: 32px;
}

.edit-name-button {
  height: 28px;
  cursor: pointer;
}

.reset-button {
  height: 48px;
  width: 100%;
  margin-top: 50px;
}

#customDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 500;
}
